{% extends 'base.html' %}
{% block content %}

<h1>Quote Details</h1>
<div class="row container">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ quote.quote }}</span>
            <p>Author: {{ quote.author }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'quotes_update' quote.id %}">Edit</a>
            <a href="{% url 'quotes_delete' quote.id %}">Delete</a>
        </div>
        <div class="tags">
                    {% if quote.tags.count %}
                            <p style="display: inline">Tags: </p>
                        {% for tag in quote.tags.all %}
                            <p style="display: inline">&nbsp;&nbsp;{{tag.name}}&nbsp;</p>
                            <form style="display: inline" action="{% url 'remove_tag' quote.id tag.id %}" method="post">
                                {% csrf_token %}
                              <button style="display: inline" type="submit" class="btn small-btn"> - </button>
                            </form>
                        {% endfor %}
                    {% else %}
                        <p style="display: inline" >No tags yet!</p>
                    {% endif %}
                    <p style="display: inline" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p style="display: inline" >Add Tags: </p>
                    {% for tag in tags.all %}
                        <p style="display: inline">&nbsp;&nbsp;&nbsp;{{ tag.name }}&nbsp;</p>
                        <form style="display: inline" action="{% url 'add_tag' quote.id tag.id %}" method="post">
                            {% csrf_token %}
                          <button style="display: inline" type="submit" class="btn small-btn"> + </button>
                        </form>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="discuss-container">
    <div class="row left">
            {% for discussion in quote.discussion_set.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{discussion.title}}</span>
                        <span class="helper-text">{{discussion.date}} at {{discussion.time}}</span>
                        <span class="helper-text">by {{discussion.name}}</span>
                        <p> {{discussion.thoughts}}</p>
                    </div>
                </div>
            {% endfor %}
    </div>

    <div class="row right">
        <!-- <div class="col s6"> -->
            <form action = "{% url 'add_discussion' quote.id %}" method="post">
                {% csrf_token %}
                {{ discussion_form.as_p }}
                <input type="submit" class="btn" value="Add Discussion">
            </form>
        <!-- </div> -->
    </div>
    
</div>

{% endblock %}