:root {
    --text-highlight: #CB997E;
    --text-nav: #6B705C;
}

body {
    position: relative;
    min-height: 100vh;
    color: var(--text-nav);
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    color: var(--text-nav);
    text-align: center;
}

li,
a {
    color: var(--text-nav);
}

header>nav {
    background-color: transparent;
    color: var(--text-nav);
}

header>nav>div>ul>li>a,
nav .brand-logo {
    color: var(--text-nav)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-highlight);
}

.btn {
    color: var(--text-highlight);
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: var(--text-highlight);
}

.small-btn {
    font-size: 14px;
    padding: 0px 0px;
    line-height: 7px;
    height: 14px;
}

.btn:hover {
    background-color: antiquewhite;
    color: var(--text-nav)
}

.helper-text {
    font-size: x-small;
    opacity: 70%;
}

.card-title {
    color: var(--text-highlight);
}

.tags {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 2px 24px;
    font-size: smaller;
    opacity: 75%;
}

h1 {
    opacity: 75%;
    color: #A8C7A6;
}

.author {
    color: var(--text-nav);
    opacity: 75%;
}